<!DOCTYPE html>

<html>
    <head>
        <title>Mapeamento COVID-19</title>
        {{> head}}
    </head>

    <body>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-4">Monitoramento COVID-19</h1>
                    </div>

                    <div class="col-12">

                        <div class="jumbotron jumbotron-fluid">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                                            <div class="card-header">CASOS</div>
                                            <div class="card-body">
                                                <h6>Novos</h6>
                                                <h4 class="card-title">{{newConfirmed}}</h4>
                                                <h5 class="mt-4">Total</h5>
                                                <h3 class="card-title">{{totalConfirmed}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                            <div class="card-header">ÓBITOS</div>
                                            <div class="card-body">
                                                <h6>Novos</h6>
                                                <h4 class="card-title">{{newConfirmed}}</h4>
                                                <h5 class="mt-4">Total</h5>
                                                <h3 class="card-title">{{totalConfirmed}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                            <div class="card-header">RECUPERADOS</div>
                                            <div class="card-body">
                                                <h6>Novos</h6>
                                                <h4 class="card-title">{{newConfirmed}}</h4>
                                                <h5 class="mt-4">Total</h5>
                                                <h3 class="card-title">{{totalConfirmed}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               

                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </section>
    </body>
</html>